# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.CodeBlogIntensive.iml
# Datasource local storage ignored files
/../../../../../../:\csharp\CodeBlogIntensive\.idea\.idea.CodeBlogIntensive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
